#training {
    margin-top: 25px;
}

.preview-canvas {
    height: 200px;
    width: 200px;
}

input[name=trainingColor] {
    display:none;
}
.color-picks {
    width: 100%;
}
.color-pick-red {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 33%;
    height: 22px;
    background-color: #ff9896;
}
.color-pick-red:hover {
    background-color: #d62728;
}
input[name="trainingColor"]:checked + label .color-pick-red {
    border: 3px solid #373737;
    background-color: #d62728 !important;
}
.color-pick-green {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 34%;
    height: 22px;
    background-color: #98df8a;
}
.color-pick-green:hover {
    background-color: #2ca02c;
}
input[name="trainingColor"]:checked + label .color-pick-green {
    border: 3px solid #373737;
    background-color: #2ca02c !important;
}
.color-pick-blue {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 33%;
    height: 22px;
    background-color: #aec7e8;
}
.color-pick-blue:hover {
    background-color: #1f77b4;
}
input[name="trainingColor"]:checked + label .color-pick-blue {
    border: 3px solid #373737;
    background-color: #1f77b4 !important;
}

#samplesConfigDiv{
    float: right;
    width: 30%;
}

.xPosLabel, .yPosLabel{
    border: none;
    margin: 1px 0px 0px 0px;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 49%;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}

#xPosInput, #yPosInput{
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 2px 0px;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 50%;
    float: right;
    height: 20px;
}

#sampleLabel, #deleteSamplePointButton{
    border: none ;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    float: left;
    clear: both;
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

#sampleList{
    float: right;
    text-align: left;
}

#selectList{
    width: 100%;
}

.editSamplesContainer{
    width: 100%;
    margin-bottom: 5px;
}


#loadSamples, #saveSamples  {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 50%;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
}

#saveSamples  {
    border: solid;
    border-width: 0px 0px 0px 1px;
    float: right;
}

div{
    cursor: default;
}

#graph svg{
    z-index: -1;
}

#graph{
    height: 550px;
}

.trainingHeader{
    width: 400px;
}