#centerPanel{
    margin-left: 5px;
    width: 800px;
}

#exerciseDescrHeader{
    margin-top: 15px;
    width:100%;
    text-align: left;
    font-size: 20px;
}

#nn-config-info{
    width: 800px;
    position: static;
    top: 500px;
    z-index: 1;
}

#headerNnConfigInfo{
    background-color: #3077ab;
    color: white;
    padding: 10px 1px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

#headerNnConfigView{
    width: 100%
}

#actFuncInfo{
    width: 40%
}

#divLearnRate{
    width: 30%
}

#divMaxIterations{
    width: 30%
}

#exerciseTasksContainer div{
    width: 100%;
}

#preview{
    position: relative;
}

#exerciseDescrBox div{
    width: 100%;
}

.exTaskDone{
    color: #98df8a;
}

.allTasksSolved{
    color: #70a665;
}
.notAllTasksSolved{
    color: #d62728;
}

#select-exercise, #exerciseTasksContainer, .info-text{
    /*for newline if "\n" in text*/
    white-space: pre-wrap;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.5;
}