#nn-config-info{
    position: static;
    top: 500px;
    z-index: 1;
}

#headerNnConfigInfo{
    background-color: #3077ab;
    color: white;
    padding: 10px 1px;
    text-align: center;
    font-size: 16px;
    width: 200px;
}

#headerNnConfigView {
    font-size: 14px;
}

#exerciseTasksContainer div{
    width: 100%;
}

#preview{
    position: relative;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.2;
    background-color: gray;
}