#topconfig{
    width: 100%;
    float: left;
}

.add-button {
    background-color: #8db4bd;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    float: left;
    clear: both;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}
.add-button:hover {
    background-color: #aec7e8;
}

.delete-button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    width: 18px;
    font-weight: bold;
    height: 18px;
    float: left;
    background-color: #d62728;
    color: #fff;
    margin: 1px;
}
.delete-button:hover {
    background-color: #ff9896;
}

.headerNnConfig{

    background-color: #3077ab;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

#nn-config{
    border: solid;
    border-color: white;
    border-width: 0px 0px 0px 1px;
    width: 47%;
    height: 106px;
    position:relative;

}


.ulActFuncOptions {
    border: solid;
    border-width: 1px 0px 1px 0px;
    border-color: white;
    margin: 0px;
    z-index: 1;
    padding: 3px 0px;
    background-color: #8db4bd;
    width: 100px;
    list-style-type: none;
    font-size: 16px;
    position:relative;
    color: white;
    text-align: center;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;

}

.liActFuncOptions{
    background-color: #aec7e8;
}
.ulActFuncOptions .liActFuncOptions {
    list-style-type: none;
}
.ulActFuncOptions .liActFuncOptions:not(.init) {
    width: 100px;
    display: none;
    background-color: #aec7e8;
}
.ulActFuncOptions .liActFuncOptions:not(.init):hover {
    background: #3077ab;
    cursor: pointer;
}

.ulActFuncOptions .liActFuncOptions.selected:not(.init) {
    background-color: #8db4bd;
}
li.init { cursor: pointer;
}

#inputLearningRate {
    margin: 0px;
    border: none;
    padding: 5px 0px;
    background-color: #8db4bd;
    width: 100px;
    list-style-type: none;
    font-size: 16px;
    left:0px; bottom:0px;
    color: white;
    text-align: center;
    height: 23px;
}

#maxIterationsContainer{
    border: solid;
    border-color: white;
    border-width: 1px 0px;
    width: 100%;
}

#maxIterationsLabel{
    border: none;
    color: white;
    padding: 0px;
    /*padding: 10px 0px;*/
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 40%;
    height: 25px;
    background-color: #1f77b4;
    line-height: 25px;
}

#maxIterationsInput{
    border: none;
    color: white;
    /*padding: 10px 0px;*/
    padding: 0px;
    text-align: center;
    font-size: 16px;
    background-color: #8db4bd;
    width: 40%;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}

#maxIterationsButton{
    font-size: 16px;
    border: none;
    padding: 0px;
    width: 20%;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}


.green-button {
    background-color: #42ab6c;
    color: white;
}
.green-button:hover {
    background-color: #98df8a;
}

.green-button-clicked {
    background-color: #98df8a;
}